body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.atalhos{
    align-items: end;
    justify-content: end;
    padding: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

nav li {
    margin-right: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}