body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.atalhos{
    align-items: end;
    justify-content: end;
    padding: auto;
}

img{
    width: 500px;
    height: 300px;
    object-fit: contain;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

nav li {
    margin-right: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    /* Estilos para tablets e dispositivos móveis */
    .cabeçalho {
        padding: 0.5em;
    }

    nav ul {
        justify-content: center; /* Centraliza os itens da navegação */
    }

    nav li {
        margin-right: 10px;
    }

    main {
        padding: 1em;
    }

    section {
        padding: 1em;
    }

    h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    /* Estilos para dispositivos móveis menores */
    .atalhos {
        flex-direction: column; /* Mostra os atalhos em coluna */
        align-items: flex-end; /* Alinha os itens no final */
    }

    nav li {
        margin-right: 5px;
    }
}